@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *)); 

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-slideIn {
  animation: slideIn 0.25s ease-out forwards;
}

.animate-slideOut {
  animation: slideOut 0.25s ease-in forwards;
}
