@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *)); 

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.25s ease-out forwards;
}
